*{
  margin: 0;
  padding: 0;
}

/* Fonts
font-family: 'Cabin', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* Global */
body {
  font-family: 'Cabin', sans-serif;
  background-color: #141414;
  color: white;
  height: 100%;
  margin: 0;

}

.page_cont{
}

a{
  text-decoration: none;
  color: gold;
}

/*Splash*/

.splash_cont{
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-image:url('img/dark_concert.jpeg');
  color: gold;
  text-align: center;
  height:100vh;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.nav{
  padding-top: 30px;
}

.nav ul{
  list-style: none;
}

.nav li{
  font-size: 1.4em;
  padding: 0px 25px 0px 25px;
  display: inline-block;
}

.splash_h1{
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1em;
  font-size: 4em;
  font-weight: bolder;
  padding-left: 140px;
}

.splash_h1 sup{
  font-size: .5em;
  font-weight: normal;
}

.anch_but{
  padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.anch_but img{
  width: 40px;
  height: 40px;
}

/*Featured content*/

.feat_cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  height: 100vh;
}

.show_cover{
  background-image: url('img/red.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
}

.show_info{
  align-self: center;
  padding-bottom: 50px;
  padding-top: 50px;

}

.show_info h3{
  font-size: 2.8em;
  letter-spacing: 2px;
}

.show_info p{
  font-family: Raleway, sans-serif;
  font-weight: light;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 0px 100px 0px 100px;
}

.show_info img{
  width: 40%;
  height: 3px;
  margin-top: 25px;
}

.buy_but{
  font-size: 1.3em;
  font-family: Raleway, sans-serif;
  font-weight: bolder;
  color: black;
  background-image: linear-gradient(to right, gold , limegreen);
  padding: 15px 25px;

}

/* Media Queries */

@media only screen and (max-width: 1000px) {
    .nav li{
      font-size: 3em;
    }

    .anch_but img{
      width: 100px;
      height: 100px;
    }

    .splash_cont{
      background-position:center;

    }

  .splash_h1{
    letter-spacing: .5em;
    font-size: 6em;
    padding-left: 50px;


  }

  .splash_h1 sup{
    font-size: auto;

  }

    .feat_cont{
      display: block;
  }

    .show_info{
      font-size: 1.5em;
      margin-top: 50px;
      padding: none;
      padding-bottom: 50px;
    }

    .show_cover{
      width: 100%;
      height: 50%;
      background-position: bottom;
    }
}
